version: "3.8"

services:
  app:
    build: .
    image: ml-service:latest
    ports:
      - "8000:8000"
    volumes:
      - ./mlruns:/app/mlruns        # persistir artifacts
      - ./mlflow.db:/app/mlflow.db  # persistir sqlite
    depends_on:
      - mlflow

  mlflow:
    build: .
    image: mlflow-service:latest
    command: >
      mlflow server
      --backend-store-uri sqlite:///mlflow.db
      --default-artifact-root /app/mlruns
      --host 0.0.0.0
      --port 5000
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/app/mlruns
      - ./mlflow.db:/app/mlflow.db